{% extends 'base.html' %}

{% block  content %}
    
<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - 
    {{ post.author.first_name }}
    {{ post.author.last_name}} - 
    {{ post.post_date }} - <a href="{% url "category" post.category %}">{{ post.category }}</a>

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <small><a href="{% url 'update-detail' post.pk %}">(Editar)</a>
                <a href="{% url 'delete-post' post.pk %}">(Deletar)</a>
        {% endif %}
    {% endif %}
    
    </small>
    <br/>
    {{ post.body|safe }}</li>
{% endfor%}
</ul>
Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}

<ul style = "margin-left: 10px;" class = "pagination">
    {%if page_obj.has_previous %}
        <li><a href="?page=1"><button >&laquo; Primeira </button></a></li>
        <li><a href="?page={{page_obj.previous_page_number}}"><button > Anterior </button></a></li>
    {%endif%}

    {%if page_obj.has_next%}
        <li><a href="?page={{page_obj.next_page_number}}"> <button > Próximo </button></a></li>
        <li><a href="?page={{page_obj.paginator.num_pages}}"> <button> Última </button></a></li>
    {%endif%}
</ul>
{% endblock %}