{% extends 'base.html' %}

{% block content %}

<h1>Esse é o seu Histórico de Publicações!</h1>

{%if user.is_authenticated%}

        <ul>
            {% for post in object_list %}
                {% if user.id == post.author.id %}
                    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> -
                        {{ post.author.first_name }}
                        <!--Passando Link para o Botão de Editar Publicação-->
                        {{ post.author.last_name }} - {{ post.post_date }}
                        <small>
                        
                            - <a href = "#">| Editar Publicação |</a>
                            <a href = "#"> Deletar Publicação |</a>
                            
                        </small> <br/>
                        {{ post.body|slice:":200"|safe}} </li>
                    {%endif%}
            {% endfor %}
        </ul>
    
{%endif%}
</ul>

{% endblock %}